/*Fondo*/
.home {
  background-image: url(./img.home.jpg);
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
/*Imagen*/
.img-home {
  justify-content: center;
}
.img-celu {
  width: 80%;
  transition: transform 0.2s ease-in-out;
}
.img-celu:hover {
  transform: scale(1.2);
}

/*texto*/
.titulo-home {
  font-size: 4rem;
}
.home-texto {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
}
.btn-home {
  font-size: 1.5em;
}

/*medias queryes*/
@media (max-width: 768px) {
    .home {
      height: 60vh;
    }
    .titulo-home {
      font-size: 2.2rem;
    }
  }