/*contenedor de todo*/
.categorias {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  width: 80%;
}

/*contendedor de cada card*/
.contenedor-cat-individual {
  display: flex;
  width: 95%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-height: 12em;
  border: none;
  -webkit-box-shadow: 20px 15px 29px -12px rgba(15, 15, 15, 1);
  -moz-box-shadow: 20px 15px 29px -12px rgba(15, 15, 15, 1);
  box-shadow: 20px 15px 29px -12px rgba(15, 15, 15, 1);
  background-color: rgba(245, 241, 241, 0.425);
}
.contenedor-cat-individual:hover {
  transform: scale(0.9);
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/*IMG*/
.img-categoria {
  max-width: 20%;
}
/*texto*/
.texto-categoria {
  color: #070707;
}

/*Texto cuando selecciono categoria*/
.fondo-categoria {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  color: #fff;
  font-size: 1.5rem;
  height: 5rem;
}

.none {
  display: none;
}
