/*contenedor de todo*/
.categorias {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.contenedor-categorias {
  width: 100%;
}
/*contendedor de cada card*/
.contenedor-cat-individual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  border-radius: 30px;
  height: 15rem;
  width: 12rem;
  border: none;
  -webkit-box-shadow: 20px 15px 29px -12px rgba(15, 15, 15, 1);
  -moz-box-shadow: 20px 15px 29px -12px rgba(15, 15, 15, 1);
  box-shadow: 20px 15px 29px -12px rgba(15, 15, 15, 1);
  background-color: rgba(245, 241, 241, 0.425);
}
.contenedor-cat-individual:hover {
  transform: scale(0.9);
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/*IMG*/
.img-categoria {
  max-width: 50%;
}
/*texto*/
.texto-categoria {
  color: #070707;
}

/*Texto cuando selecciono categoria*/
.fondo-categoria {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  color: #fff;
  font-size: 1.5rem;
  height: 5em;
}

.none {
  display: none;
}
/* Media query para pantallas más grandes */
@media (min-width: 1044px) {
  .contenedor-cat-individual {
    width: 20rem; 
  }
}