/*contenedor*/
.contenedor-productos {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(156, 161, 233, 0.555);
  border-radius: 20px;
  margin: auto;
  height: 20rem;
}
/*texto*/
.antes {
  font-size: 0.9em;
  text-decoration-line: line-through;
  color: #3e5954;
}
.oferta {
  font-size: 1em;
  color: black;
}

.descuento {
  color: white;
  background-color: #5e9188;
  padding: 0.1rem;
  font-size: 0.9em;
}
.prod-nombre {
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*boton*/
.btn-cards {
  padding: 1em 2em;
  width: 90%;
  font-size: 0.6rem;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background: #5e9188;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba (0, 0, 0, 0.1);
  transition: 0.3s ease;
  cursor: pointer;
}
.contenedor-botones {
  position: relative;
  top: -11px;
}

.btn-cards:hover {
  background-color: #3e5954;
  box-shadow: 0px 15px 20px rgba (59, 217, 217, 0.4);
  color: aliceblue;
  transform: translateY(-7px);
}
.btn-cards:active {
  transform: translateY(-1px);
}

/*img*/
.img-product {
  width: 100%;
  height: 14em;
  object-fit: contain;
  padding: 0.3em;
}
