.carousel-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.Redes{
  width: 100%;
  max-height: 100px;
  background-color: #3e5954;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Redes-btn a{
  margin: 10px;
  font-size: 25px;
  color: white;  

}
.Redes-btn a:hover{
  color: black;
  text-shadow: 0 0 15px white;
  
}