/* texto arriba */
.oferta-tiempo {
  background: #0f2027; 
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); 
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  );
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0;
}
/*contenedor de todo*/
.container-ofertas {
  padding: 3rem 0;

}
/*cards*/
.item {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
.card-oferta {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 0px 5px 1px rgb(63, 63, 63);
  max-width: 15rem;
  margin: auto 1rem;
  text-align: center;

}

.texto-ofertaCarousel {
  color: white;
  font-size: 1.3rem;
  background-color: #3e5954;
}
.nombre {
  font-size: 1rem;
  white-space: nowrap;
}

.product-image {
  width: 100%;
  height: 16em;
  object-fit: cover;
}
.btn-oferta {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3e5954;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  letter-spacing: 2.5px;
}

.btn-oferta:hover {
  opacity: 0.7;
}
