/* texto arriba */
.oferta-tiempo {
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
 
}
.container-ofertas {
  display: grid;
  margin: 2% 0;
}

.card-oferta {
  border: none;
  box-shadow: 0px 0px 5px 1px rgb(109, 108, 108);
  margin: 1rem 2rem;
  text-align: center;
  width: 16rem;
}
/*TEXTO*/
.texto-ofertaCarousel {
  color: white;
  font-size: 1.3rem;
  background-color: #3e5954;
}
.nombre {
  font-size: 1rem;
  white-space: nowrap;
}
/*img*/
.product-image {
  width: 100%;
  height: 16em;
  object-fit: cover;
}
/*boton*/
.btn-oferta {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3e5954;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  letter-spacing: 2.5px;
}

.btn-oferta:hover {
  opacity: 0.7;
}


